In [5]:
from etl.spark.spark_session_helper import spark

23/02/18 22:01:44 WARN Utils: Your hostname, Chaturvedi_PC resolves to a loopback address: 127.0.1.1; using 172.28.53.96 instead (on interface eth0)
23/02/18 22:01:44 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
23/02/18 22:01:46 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
Using Spark's default log4j profile: org/apache/spark/log4j-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

In [6]:
from path_manager import intermediate_data_all_train_rows_path

/home/abhay/work/dream11

In [7]:
all_player_rows_df = spark.read.parquet(intermediate_data_all_train_rows_path)
all_player_rows_df.registerTempTable("all_player_rows")

23/02/18 22:01:56 WARN package: Truncated the string representation of a plan since it was too large. This behavior can be adjusted by setting 'spark.sql.debug.maxToStringFields'.

In [8]:
spark.sql("""
    select distinct(venue_name) from all_player_rows where 
    dt>date_sub(current_timestamp(), 1000)
    and lower(venue_name) like '%george%'
""").limit(30).toPandas()

                                       venue_name
0                St George's Park, Port Elizabeth
1  National Cricket Stadium, St George's, Grenada
2                      St George's Park, Gqeberha

In [27]:
from string import Template
feature_query_template = Template("""
select 
    player_id, '$venue_name' as venue_name,
    
    is_male,
    sum(case when dt>date_sub(current_timestamp(), 1000) then batter_run_sum else 0 end) as batter_runs_1000D,
    sum(case when dt>date_sub(current_timestamp(), 1000) and venue_name='$venue_name' then batter_run_sum else 0 end) as batter_runs_1000D_venue,
    sum(case when dt>date_sub(current_timestamp(), 1000) then balls_faced else 0 end) as balls_faced_1000D,
    sum(case when dt>date_sub(current_timestamp(), 1000) and venue_name='$venue_name' then balls_faced else 0 end) as balls_faced_1000D_venue,
    sum(case when dt>date_sub(current_timestamp(), 1000) then dismissals else 0 end) as dismissals_1000D,
    sum(case when dt>date_sub(current_timestamp(), 1000) and venue_name='$venue_name' then dismissals else 0 end) as dismissals_1000D_venue,
    sum(case when dt>date_sub(current_timestamp(), 1000) then boundary_count else 0 end) as boundary_count_1000D,
    sum(case when dt>date_sub(current_timestamp(), 1000) and venue_name='$venue_name' then boundary_count else 0 end) as boundary_count_1000D_venue,
    sum(case when dt>date_sub(current_timestamp(), 1000) then six_count else 0 end) as six_count_1000D,
    sum(case when dt>date_sub(current_timestamp(), 1000) and venue_name='$venue_name' then six_count else 0 end) as six_count_1000D_venue,
    
    sum(case when dt>date_sub(current_timestamp(), 300) then batter_run_sum else 0 end) as batter_runs_300D,
    sum(case when dt>date_sub(current_timestamp(), 300) and venue_name='$venue_name' then batter_run_sum else 0 end) as batter_runs_300D_venue,
    sum(case when dt>date_sub(current_timestamp(), 300) then balls_faced else 0 end) as balls_faced_300D,
    sum(case when dt>date_sub(current_timestamp(), 300) then dismissals else 0 end) as dismissals_300D,
    sum(case when dt>date_sub(current_timestamp(), 300) then boundary_count else 0 end) as boundary_count_300D,
    sum(case when dt>date_sub(current_timestamp(), 300) then six_count else 0 end) as six_count_300D,
    
    sum(case when dt>date_sub(current_timestamp(), 90) then batter_run_sum else 0 end) as batter_runs_90D,
    sum(case when dt>date_sub(current_timestamp(), 90) and venue_name='$venue_name' then batter_run_sum else 0 end) as batter_runs_90D_venue,
    sum(case when dt>date_sub(current_timestamp(), 90) then balls_faced else 0 end) as balls_faced_90D,
    sum(case when dt>date_sub(current_timestamp(), 90) then dismissals else 0 end) as dismissals_90D,
    sum(case when dt>date_sub(current_timestamp(), 90) then boundary_count else 0 end) as boundary_count_90D,
    sum(case when dt>date_sub(current_timestamp(), 90) then six_count else 0 end) as six_count_90D,
    
    sum(case when dt>date_sub(current_timestamp(), 30) then batter_run_sum else 0 end) as batter_runs_30D,
    sum(case when dt>date_sub(current_timestamp(), 30) and venue_name='$venue_name' then batter_run_sum else 0 end) as batter_runs_30D_venue,
    sum(case when dt>date_sub(current_timestamp(), 30) then balls_faced else 0 end) as balls_faced_30D,
    sum(case when dt>date_sub(current_timestamp(), 30) then dismissals else 0 end) as dismissals_30D,
    sum(case when dt>date_sub(current_timestamp(), 30) then boundary_count else 0 end) as boundary_count_30D,
    sum(case when dt>date_sub(current_timestamp(), 30) then six_count else 0 end) as six_count_30D,
    
    sum(case when dt>date_sub(current_timestamp(), 1000) then total_run_sum else 0 end) as total_runs_1000D,
    sum(case when dt>date_sub(current_timestamp(), 1000) and venue_name='$venue_name' then total_run_sum else 0 end) as total_runs_1000D_venue,
    sum(case when dt>date_sub(current_timestamp(), 1000) then deliveries else 0 end) as deliveries_1000D,
    sum(case when dt>date_sub(current_timestamp(), 1000) and venue_name='$venue_name' then deliveries else 0 end) as deliveries_1000D_venue,
    sum(case when dt>date_sub(current_timestamp(), 1000) then wicket_sum else 0 end) as wicket_sum_1000D,
    sum(case when dt>date_sub(current_timestamp(), 1000) and venue_name='$venue_name' then wicket_sum else 0 end) as wicket_sum_1000D_venue,
    sum(case when dt>date_sub(current_timestamp(), 1000) then maiden_count else 0 end) as maiden_count_1000D,
    sum(case when dt>date_sub(current_timestamp(), 1000) and venue_name='$venue_name' then maiden_count else 0 end) as maiden_count_1000D_venue,
    
    sum(case when dt>date_sub(current_timestamp(), 300) then total_run_sum else 0 end) as total_runs_300D,    
    sum(case when dt>date_sub(current_timestamp(), 300) then deliveries else 0 end) as deliveries_300D,
    sum(case when dt>date_sub(current_timestamp(), 300) then wicket_sum else 0 end) as wicket_sum_300D,
    sum(case when dt>date_sub(current_timestamp(), 300) then maiden_count else 0 end) as maiden_count_300D,
    
    sum(case when dt>date_sub(current_timestamp(), 90) then total_run_sum else 0 end) as total_runs_90D,    
    sum(case when dt>date_sub(current_timestamp(), 90) then deliveries else 0 end) as deliveries_90D,
    sum(case when dt>date_sub(current_timestamp(), 90) then wicket_sum else 0 end) as wicket_sum_90D,
    sum(case when dt>date_sub(current_timestamp(), 90) then maiden_count else 0 end) as maiden_count_90D,
    
    sum(case when dt>date_sub(current_timestamp(), 30) then total_run_sum else 0 end) as total_runs_30D,    
    sum(case when dt>date_sub(current_timestamp(), 30) then deliveries else 0 end) as deliveries_30D,
    sum(case when dt>date_sub(current_timestamp(), 30) then wicket_sum else 0 end) as wicket_sum_30D,
    sum(case when dt>date_sub(current_timestamp(), 30) then maiden_count else 0 end) as maiden_count_30D,
    
    
    sum(case when dt>date_sub(current_timestamp(), 1000) then fielding_wicket_sum else 0 end) as fielding_wicket_sum_1000D,
    sum(case when dt>date_sub(current_timestamp(), 30) then fielding_wicket_sum else 0 end) as fielding_wicket_sum_30D
            
    from all_player_rows
    group by player_id, is_male
    having is_male=0
""")
feature_df = spark.sql(feature_query_template.substitute(venue_name="St George\\'s Park, Gqeberha"))

In [28]:
from pyspark.sql import functions as f
feature_df_with_bat_avg = feature_df\
        .withColumn("batting_avg_30D", f.when(f.col("dismissals_30D") > 0, f.col("batter_runs_30D")/f.col("dismissals_30D")).otherwise(f.col("batter_runs_30D"))) \
        .withColumn("batting_avg_90D", f.when(f.col("dismissals_90D") > 0, f.col("batter_runs_90D")/f.col("dismissals_90D")).otherwise(f.col("batter_runs_90D"))) \
        .withColumn("batting_avg_300D", f.when(f.col("dismissals_300D") > 0, f.col("batter_runs_300D")/f.col("dismissals_300D")).otherwise(f.col("batter_runs_300D"))) \
        .withColumn("batting_avg_1000D", f.when(f.col("dismissals_1000D") > 0, f.col("batter_runs_1000D")/f.col("dismissals_1000D")).otherwise(f.col("batter_runs_1000D"))) \
        .withColumn("batting_avg_1000D_venue", f.when(f.col("dismissals_1000D_venue") > 0, f.col("batter_runs_1000D_venue")/f.col("dismissals_1000D_venue")).otherwise(f.col("batter_runs_1000D_venue")))

feature_df_with_bat_avg_sr = feature_df_with_bat_avg\
    .withColumn("batting_sr_30D", f.when(f.col("balls_faced_30D") > 0, f.col("batter_runs_30D")/f.col("balls_faced_30D")).otherwise(f.col("batter_runs_30D"))) \
    .withColumn("batting_sr_90D", f.when(f.col("balls_faced_90D") > 0, f.col("batter_runs_90D")/f.col("balls_faced_90D")).otherwise(f.col("batter_runs_90D"))) \
    .withColumn("batting_sr_300D", f.when(f.col("balls_faced_300D") > 0, f.col("batter_runs_300D")/f.col("balls_faced_300D")).otherwise(f.col("batter_runs_300D"))) \
    .withColumn("batting_sr_1000D", f.when(f.col("balls_faced_1000D") > 0, f.col("batter_runs_1000D")/f.col("balls_faced_1000D")).otherwise(f.col("batter_runs_1000D"))) \
    .withColumn("batting_sr_1000D_venue", f.when(f.col("balls_faced_1000D_venue") > 0, f.col("batter_runs_1000D_venue")/f.col("balls_faced_1000D_venue")).otherwise(f.col("batter_runs_1000D_venue")))

feature_df_with_bat_avg_sr_bowl_avg = feature_df_with_bat_avg_sr\
        .withColumn("bowling_avg_30D", f.when(f.col("wicket_sum_30D") > 0, f.col("total_runs_30D")/f.col("wicket_sum_30D")).otherwise(f.col("total_runs_30D"))) \
        .withColumn("bowling_avg_90D", f.when(f.col("wicket_sum_90D") > 0, f.col("total_runs_90D")/f.col("wicket_sum_90D")).otherwise(f.col("total_runs_90D"))) \
        .withColumn("bowling_avg_300D", f.when(f.col("wicket_sum_300D") > 0, f.col("total_runs_300D")/f.col("wicket_sum_300D")).otherwise(f.col("total_runs_300D"))) \
        .withColumn("bowling_avg_1000D", f.when(f.col("wicket_sum_1000D") > 0, f.col("total_runs_1000D")/f.col("wicket_sum_1000D")).otherwise(f.col("total_runs_1000D"))) \
        .withColumn("bowling_avg_1000D_venue", f.when(f.col("wicket_sum_1000D_venue") > 0, f.col("total_runs_1000D_venue")/f.col("wicket_sum_1000D_venue")).otherwise(f.col("total_runs_1000D_venue")))

feature_df_with_bat_avg_sr_bowl_avg_sr = feature_df_with_bat_avg_sr_bowl_avg\
    .withColumn("bowling_sr_30D", f.when(f.col("wicket_sum_30D") > 0, f.col("deliveries_30D")/f.col("wicket_sum_30D")).otherwise(f.col("deliveries_30D"))) \
    .withColumn("bowling_sr_90D", f.when(f.col("wicket_sum_90D") > 0, f.col("deliveries_90D")/f.col("wicket_sum_90D")).otherwise(f.col("deliveries_90D"))) \
    .withColumn("bowling_sr_300D", f.when(f.col("wicket_sum_300D") > 0, f.col("deliveries_300D")/f.col("wicket_sum_300D")).otherwise(f.col("deliveries_300D"))) \
    .withColumn("bowling_sr_1000D", f.when(f.col("wicket_sum_1000D") > 0, f.col("deliveries_1000D")/f.col("wicket_sum_1000D")).otherwise(f.col("deliveries_1000D"))) \
    .withColumn("bowling_sr_1000D_venue", f.when(f.col("wicket_sum_1000D_venue") > 0, f.col("deliveries_1000D_venue")/f.col("wicket_sum_1000D_venue")).otherwise(f.col("deliveries_1000D_venue")))

all_features_df = feature_df_with_bat_avg_sr_bowl_avg_sr\
    .withColumn("bowling_eco_30D", f.when(f.col("deliveries_30D") > 0, f.col("total_runs_30D") * 6.0/f.col("deliveries_30D")).otherwise(f.col("total_runs_30D") * 6.0)) \
    .withColumn("bowling_eco_90D", f.when(f.col("deliveries_90D") > 0, f.col("total_runs_90D") * 6.0/f.col("deliveries_90D")).otherwise(f.col("total_runs_90D") * 6.0)) \
    .withColumn("bowling_eco_300D", f.when(f.col("deliveries_300D") > 0, f.col("total_runs_300D") * 6.0/f.col("deliveries_300D")).otherwise(f.col("total_runs_300D") * 6.0)) \
    .withColumn("bowling_eco_1000D", f.when(f.col("deliveries_1000D") > 0, f.col("total_runs_1000D") * 6.0/f.col("deliveries_1000D")).otherwise(f.col("total_runs_1000D") * 6.0)) \
    .withColumn("bowling_eco_1000D_venue", f.when(f.col("deliveries_1000D_venue") > 0, f.col("total_runs_1000D_venue") * 6.0/f.col("deliveries_1000D_venue")).otherwise(f.col("total_runs_1000D_venue") * 6.0))

In [29]:
player_last_names = [
    "healy",
    "mooney",
    "jafta",
    "tucker",
    "lanning",
    "wolvaardt",
    "luus",
    "mcgrath",
    "bosch",
    "harris",
    "goodall",
    "brits",
    "dercksen",
    "macheke",
    "perry",
    "kapp",
    "gardner",
    "klerk",
    "tryon",
    "sutherland",
    "garth",
    "andrews",
    "schutt",
    "jonassen",
    "ismail",
    "klaas",
    "king",
    "brown",
    "khaka",
    "wareham",
    "mlaba",
    "graham",
    "sekhumkhune"
]

In [30]:
all_players_df = spark.read.csv("downloads/people.csv", header=True)
all_players_df.registerTempTable("all_players")
all_players_df.toPandas()

from string import Template
name_predicates = []
name_clause_template = Template("lower(reverse(split(unique_name,' '))[0]) = '$player_name'")
for name in player_last_names:
    name_predicates.append(name_clause_template.substitute(player_name=name))
name_clause = " OR ".join(name_predicates)
player_id_names_df = spark.sql("select identifier, unique_name from all_players where %s"%name_clause)

player_features_df = all_features_df.join(
    player_id_names_df,
    all_features_df.player_id ==  player_id_names_df.identifier,"inner" )
player_features_df.count()

48

In [31]:
from pyspark.ml.feature import VectorAssembler
from pyspark.ml.regression import GBTRegressor ,GBTRegressionModel
from path_manager import model_train_input_path, model_test_input_path, model_train_predictions_path, model_test_predictions_path, model_save_artifact_path
from model_trainer import features

In [32]:
loaded_gbtr = GBTRegressionModel.load(model_save_artifact_path)

In [33]:
va = VectorAssembler(inputCols = features, outputCol='features')

In [34]:
va_inference_df = va.transform(player_features_df)

In [35]:
inference_predictions_df = loaded_gbtr.transform(va_inference_df)

In [36]:
inference_predictions_df.show()

+---------+--------------------+-------+-----------------+-----------------------+-----------------+-----------------------+----------------+----------------------+--------------------+--------------------------+---------------+---------------------+----------------+----------------------+----------------+---------------+-------------------+--------------+---------------+---------------------+---------------+--------------+------------------+-------------+---------------+---------------------+---------------+--------------+------------------+-------------+----------------+----------------------+----------------+----------------------+----------------+----------------------+------------------+------------------------+---------------+---------------+---------------+-----------------+--------------+--------------+--------------+----------------+--------------+--------------+--------------+----------------+-------------------------+-----------------------+---------------+------------------+------------------+------------------+-----------------------+------------------+------------------+------------------+-------------------+----------------------+------------------+------------------+------------------+------------------+-----------------------+-----------------+-----------------+------------------+------------------+----------------------+------------------+-----------------+------------------+-----------------+-----------------------+----------+--------------------+--------------------+------------------+
|player_id|          venue_name|is_male|batter_runs_1000D|batter_runs_1000D_venue|balls_faced_1000D|balls_faced_1000D_venue|dismissals_1000D|dismissals_1000D_venue|boundary_count_1000D|boundary_count_1000D_venue|six_count_1000D|six_count_1000D_venue|batter_runs_300D|batter_runs_300D_venue|balls_faced_300D|dismissals_300D|boundary_count_300D|six_count_300D|batter_runs_90D|batter_runs_90D_venue|balls_faced_90D|dismissals_90D|boundary_count_90D|six_count_90D|batter_runs_30D|batter_runs_30D_venue|balls_faced_30D|dismissals_30D|boundary_count_30D|six_count_30D|total_runs_1000D|total_runs_1000D_venue|deliveries_1000D|deliveries_1000D_venue|wicket_sum_1000D|wicket_sum_1000D_venue|maiden_count_1000D|maiden_count_1000D_venue|total_runs_300D|deliveries_300D|wicket_sum_300D|maiden_count_300D|total_runs_90D|deliveries_90D|wicket_sum_90D|maiden_count_90D|total_runs_30D|deliveries_30D|wicket_sum_30D|maiden_count_30D|fielding_wicket_sum_1000D|fielding_wicket_sum_30D|batting_avg_30D|   batting_avg_90D|  batting_avg_300D| batting_avg_1000D|batting_avg_1000D_venue|    batting_sr_30D|    batting_sr_90D|   batting_sr_300D|   batting_sr_1000D|batting_sr_1000D_venue|   bowling_avg_30D|   bowling_avg_90D|  bowling_avg_300D| bowling_avg_1000D|bowling_avg_1000D_venue|   bowling_sr_30D|   bowling_sr_90D|   bowling_sr_300D|  bowling_sr_1000D|bowling_sr_1000D_venue|   bowling_eco_30D|  bowling_eco_90D|  bowling_eco_300D|bowling_eco_1000D|bowling_eco_1000D_venue|identifier|         unique_name|            features|        prediction|
+---------+--------------------+-------+-----------------+-----------------------+-----------------+-----------------------+----------------+----------------------+--------------------+--------------------------+---------------+---------------------+----------------+----------------------+----------------+---------------+-------------------+--------------+---------------+---------------------+---------------+--------------+------------------+-------------+---------------+---------------------+---------------+--------------+------------------+-------------+----------------+----------------------+----------------+----------------------+----------------+----------------------+------------------+------------------------+---------------+---------------+---------------+-----------------+--------------+--------------+--------------+----------------+--------------+--------------+--------------+----------------+-------------------------+-----------------------+---------------+------------------+------------------+------------------+-----------------------+------------------+------------------+------------------+-------------------+----------------------+------------------+------------------+------------------+------------------+-----------------------+-----------------+-----------------+------------------+------------------+----------------------+------------------+-----------------+------------------+-----------------+-----------------------+----------+--------------------+--------------------+------------------+
| 2b425403|St George's Park,...|      0|               21|                      0|               36|                      0|               3|                     0|                   1|                         0|              0|                    0|              21|                     0|              36|              3|                  1|             0|              4|                    0|              8|             1|                 0|            0|              4|                    0|              7|             0|                 0|            0|              77|                     0|              60|                     0|               1|                     0|                 0|                       0|             77|             60|              1|                0|            14|            12|             1|               0|             0|             0|             0|               0|                        1|                      0|            4.0|               4.0|               7.0|               7.0|                    0.0|0.5714285714285714|               0.5|0.5833333333333334| 0.5833333333333334|                   0.0|               0.0|              14.0|              77.0|              77.0|                    0.0|              0.0|             12.0|              60.0|              60.0|                   0.0|               0.0|              7.0|               7.7|              7.7|                    0.0|  2b425403|            D Tucker|(71,[1,2,3,4,6,7,...| 4.783034188659668|
| 43223c50|St George's Park,...|      0|               12|                      0|               22|                      0|               3|                     0|                   0|                         0|              0|                    0|               0|                     0|               0|              0|                  0|             0|              0|                    0|              0|             0|                 0|            0|              0|                    0|              0|             0|                 0|            0|              26|                     0|              25|                     0|               0|                     0|                 0|                       0|              0|              0|              0|                0|             0|             0|             0|               0|             0|             0|             0|               0|                        0|                      0|            0.0|               0.0|               0.0|               4.0|                    0.0|               0.0|               0.0|               0.0| 0.5454545454545454|                   0.0|               0.0|               0.0|               0.0|              26.0|                    0.0|              0.0|              0.0|               0.0|              25.0|                   0.0|               0.0|              0.0|               0.0|             6.24|                    0.0|  43223c50|           GA Harris|(71,[4,9,14,29,34...|  8.66042371475507|
| 0b69a844|St George's Park,...|      0|              292|                      0|              316|                      0|              16|                     0|                  23|                         0|              1|                    0|             128|                     0|             159|             11|                  8|             1|              0|                    0|              0|             0|                 0|            0|              0|                    0|              0|             0|                 0|            0|             807|                     0|             739|                     0|              34|                     0|                 3|                       0|            515|            458|             16|                0|            82|            65|             1|               0|             0|             0|             0|               0|                       11|                      0|            0.0|               0.0|11.636363636363637|             18.25|                    0.0|               0.0|               0.0|0.8050314465408805| 0.9240506329113924|                   0.0|               0.0|              82.0|           32.1875|23.735294117647058|                    0.0|              0.0|             65.0|            28.625|21.735294117647058|                   0.0|               0.0|7.569230769230769| 6.746724890829694|6.552097428958051|                    0.0|  0b69a844|            KJ Garth|(71,[3,4,8,9,13,1...|10.232646450390884|
| 108c4c09|St George's Park,...|      0|               48|                      0|               53|                      0|               8|                     0|                   7|                         0|              0|                    0|              43|                     0|              42|              5|                  6|             0|              0|                    0|              0|             0|                 0|            0|              0|                    0|              0|             0|                 0|            0|            1328|                     0|            1303|                     0|              58|                     0|                 5|                       0|            777|            728|             28|                4|             0|             6|             0|               1|             0|             6|             0|               1|                       19|                      0|            0.0|               0.0|               8.6|               6.0|                    0.0|               0.0|               0.0|1.0238095238095237| 0.9056603773584906|                   0.0|               0.0|               0.0|             27.75|22.896551724137932|                    0.0|              6.0|              6.0|              26.0| 22.46551724137931|                   0.0|               0.0|              0.0| 6.403846153846154|6.115118956254797|                    0.0|  108c4c09|            S Ismail|(71,[3,4,8,9,13,1...|10.232646450390884|
| ce85fcaf|St George's Park,...|      0|               15|                      0|               25|                      0|               2|                     0|                   0|                         0|              0|                    0|               3|                     0|              10|              2|                  0|             0|              2|                    0|              6|             1|                 0|            0|              0|                    0|              0|             0|                 0|            0|             324|                     0|             254|                     0|              16|                     0|                 1|                       0|            192|            143|             12|                1|            58|            64|             7|               1|            42|            51|             7|               1|                        1|                      1|            0.0|               2.0|               1.5|               7.5|                    0.0|               0.0|0.3333333333333333|               0.3|                0.6|                   0.0|               6.0| 8.285714285714286|              16.0|             20.25|                    0.0|7.285714285714286|9.142857142857142|11.916666666666666|            15.875|                   0.0|4.9411764705882355|           5.4375| 8.055944055944057|7.653543307086614|                    0.0|  ce85fcaf|             M Klaas|(71,[2,3,4,7,8,9,...|  8.66042371475507|
| bc969efb|St George's Park,...|      0|             1048|                      0|              791|                      0|              37|                     0|                 108|                         0|             36|                    0|             590|                     0|             400|             16|                 63|            20|            150|                    0|             99|             4|                17|            5|             35|                    0|             24|             0|                 3|            1|            1072|                     0|            1041|                     0|              60|                     0|                 1|                       0|            662|            644|             41|                1|           186|           157|             8|               0|            27|            30|             1|               0|                       30|                      0|           35.0|              37.5|            36.875|28.324324324324323|                    0.0|1.4583333333333333|1.5151515151515151|             1.475|  1.324905183312263|                   0.0|              27.0|             23.25|16.146341463414632|17.866666666666667|                    0.0|             30.0|           19.625|15.707317073170731|             17.35|                   0.0|               5.4| 7.10828025477707| 6.167701863354037|6.178674351585014|                    0.0|  bc969efb|           A Gardner|[0.0,35.0,150.0,5...|2.7882735551676583|
| be150fc8|St George's Park,...|      0|             1547|                      0|             1461|                      0|              36|                     0|                 173|                         0|             21|                    0|             764|                     0|             603|             16|                 93|            15|            255|                    0|            181|             3|                31|            8|             57|                    0|             41|             0|                 7|            1|             804|                     0|             634|                     0|              25|                     0|                 2|                       0|            319|            256|             10|                2|            68|            68|             4|               2|             3|            18|             2|               1|                       30|                      1|           57.0|              85.0|             47.75| 42.97222222222222|                    0.0|1.3902439024390243| 1.408839779005525|1.2669983416252073| 1.0588637919233401|                   0.0|               1.5|              17.0|              31.9|             32.16|                    0.0|              9.0|             17.0|              25.6|             25.36|                   0.0|               1.0|              6.0|         7.4765625|7.608832807570978|                    0.0|  be150fc8|            EA Perry|[0.0,57.0,255.0,7...| 6.256175448625381|
| ca5acfa4|St George's Park,...|      0|             1422|                      0|             1270|                      0|              46|                     0|                 165|                         0|             18|                    0|             687|                     0|             572|             24|                 87|            12|            206|                    0|            179|             6|                25|            5|             28|                    0|             26|             1|                 5|            0|            1113|                     0|             919|                     0|              45|                     0|                 1|                       0|            406|            313|             17|                1|            73|            52|             2|               0|            17|            13|             0|               0|                       25|                      0|           28.0|34.333333333333336|            28.625| 30.91304347826087|                    0.0|1.0769230769230769|1.1508379888268156| 1.201048951048951| 1.1196850393700788|                   0.0|              17.0|              36.5| 23.88235294117647|24.733333333333334|                    0.0|             13.0|             26.0| 18.41176470588235| 20.42222222222222|                   0.0| 7.846153846153846|8.423076923076923| 7.782747603833866|7.266594124047878|                    0.0|  ca5acfa4|          TM McGrath|[0.0,28.0,206.0,6...| 5.600851994554815|
| 0d518f89|St George's Park,...|      0|                8|                      0|               18|                      0|               2|                     0|                   1|                         0|              0|                    0|               7|                     0|              14|              1|                  1|             0|              1|                    0|              1|             0|                 0|            0|              0|                    0|              0|             0|                 0|            0|             626|                     0|             642|                     0|              31|                     0|                 3|                       0|            449|            458|             25|                2|            49|            49|             2|               0|            14|            25|             1|               0|                        6|                      1|            0.0|               1.0|               7.0|               4.0|                    0.0|               0.0|               1.0|               0.5| 0.4444444444444444|                   0.0|              14.0|              24.5|             17.96|20.193548387096776|                    0.0|             25.0|             24.5|             18.32| 20.70967741935484|                   0.0|              3.36|              6.0| 5.882096069868996|5.850467289719626|                    0.0|  0d518f89|             A Khaka|(71,[2,3,4,7,8,9,...| 7.168167881172871|
| 06659caa|St George's Park,...|      0|              355|                      0|              349|                      0|               8|                     0|                  42|                         0|              2|                    0|             202|                     0|             199|              6|                 27|             1|             50|                    0|             44|             0|                 7|            1|             50|                    0|             44|             0|                 7|            1|               0|                     0|               0|                     0|               0|                     0|                 0|                       0|              0|              0|              0|                0|             0|             0|             0|               0|             0|             0|             0|               0|                        4|                      0|           50.0|              50.0|33.666666666666664|            44.375|                    0.0|1.1363636363636365|1.1363636363636365| 1.015075376884422| 1.0171919770773639|                   0.0|               0.0|               0.0|               0.0|               0.0|                    0.0|              0.0|              0.0|               0.0|               0.0|                   0.0|               0.0|              0.0|               0.0|              0.0|                    0.0|  06659caa|             T Brits|(71,[1,2,3,4,6,7,...| 5.797901991500186|

In [37]:
inference_predictions_df.registerTempTable("player_inferences")

In [38]:
import pandas as pd
pd.set_option('display.max_rows', 500)

In [39]:
spark.sql("""
select player_id, unique_name, 
            prediction, rank() over(order by prediction desc) as predicted_rank
        from player_inferences
""").toPandas()

23/02/18 22:29:32 WARN WindowExec: No Partition Defined for Window operation! Moving all data to a single partition, this can cause serious performance degradation.

   player_id            unique_name  prediction  predicted_rank
0   0b69a844               KJ Garth   10.232646               1
1   108c4c09               S Ismail   10.232646               1
2   99812d10               H Graham   10.232646               1
3   83558266                 A King   10.232646               1
4   17608a6f              ML Schutt   10.232646               1
5   43223c50              GA Harris    8.660424               6
6   ce85fcaf                M Klaas    8.660424               6
7   77851c2d              SACA King    8.660424               6
8   98797fb4           K Sutherland    8.660424               6
9   34304210                S Jafta    8.660424               6
10  b9b32e3c  Mahirah Izzati Ismail    8.660424               6
11  907e30d9              DL Graham    8.660424               6
12  ba0a8d88              A Lanning    8.660424               6
13  00015688                 M King    8.660424               6
14  f7ad6448                 J King    8.660424               6
15  c122ab7f                J Brown    8.660424               6
16  686362af                N Mlaba    8.660424               6
17  72166006              GM Harris    8.660424               6
18  78bec461                M Brown    8.660424               6
19  184512d1              J Gardner    8.660424               6
20  0de3060f               EC Perry    8.660424               6
21  e9ead9c3       Kinaanath Ismail    8.660424               6
22  2708b41c                EL King    8.660424               6
23  321644de               AJ Healy    8.660424               6
24  f0b4e47d              G Wareham    8.660424               6
25  d900e56e                N Brown    8.660424               6
26  0bb32e98              L Goodall    8.660424               6
27  63e3b6b3                 M Kapp    8.109950              28
28  0475a86b            JL Jonassen    8.063415              29
29  d2b1f515             A Dercksen    7.505802              30
30  0d518f89                A Khaka    7.168168              31
31  65d9b6b6           A Sutherland    7.168168              31
32  2e81be88                D Brown    7.051109              33
33  be150fc8               EA Perry    6.256175              34
34  06659caa                T Brits    5.797902              35
35  ca5acfa4             TM McGrath    5.600852              36
36  4d4605e6               CL Tryon    5.548305              37
37  27e003ce             MM Lanning    5.159449              38
38  6d76bc23                 S Luus    5.159449              38
39  2b425403               D Tucker    4.783034              40
40  dcf0e8f4                A Bosch    4.783034              40
41  e60f81c9            L Wolvaardt    4.507740              42
42  b5c83d22              PC Graham    3.971076              43
43  dd639a8c                CR King    3.971076              43
44  52d1dbc8              BL Mooney    3.820455              45
45  36e2dc83               L Harris    3.545160              46
46  bc969efb              A Gardner    2.788274              47
47  ea544967             N de Klerk    2.502172              48

In [40]:
player_features_df.count()

48